

@media only screen and (max-width: 557px)
{
  .Tap{
    visibility: visible;
  }
  body{

    height: 100vh;
      background-image: url('./zombieimg/forest\ -\ Copy.jpg');
   
     background-repeat: no-repeat;
     overflow-x: hidden;
    
   }
   .App{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding:'2em'
   }
   .mobile-warning{
  display: none;
  }
   
}

@media  (min-width: 558px)
{
  .Tap{
    visibility: hidden;
  }
  .mobile-warning{
    display: block;
  }
}