body{

  
  background-image: url('/Users/new/codes/hams/src/images/forest.jpg');
  overflow-y: hidden;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:'2em'
}


  