.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  #game-area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #tap-area {
    width: 300px;
    height: 300px;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    
    position: relative;
    transition: all 0.1s;
  }
  
  #tap-area:active {
    transform: translateY(4px);
    box-shadow: 0 2px #3e8e41;
  }
  
  .tap-feedback {
    position: absolute;
    color: red;
    font-size: 24px;
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  #tap-count {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .coin {
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    animation: tapEffect 0.3s forwards;
  }
  
  @keyframes tapEffect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}