.coins{
    display: flex;
    justify-content: center;
    align-items: center;
}


  
  .tap-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    animation: moveUp 1s forwards;
  }
  
  @keyframes moveUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-300px);
    }
  }

  .tapnav{
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) of the flex container */
    align-items: center; /* Center items vertically */
    
  }

  .first {
    padding: 2em;
   
  }
  
  .second {

  
    padding-left: 90px;
    margin: 0 auto; /* Center the second div horizontally */
  }

  