.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Background color to better see the image */
  }

  .image-container.show-background {
    background-color: red; /* Background image */
    background-size: cover;
    background-position: center;
  }
  
  
  img {
    transition: width 0.1s ease-in-out; /* Smooth transition for the enlargement */
  }
  